<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<center>
    <h1>Please enter text:</h1>
    <form action="/output" method="POST">
        <div class="form-group">
        <div class="form-group" id="in1">
        <textarea name="text1" cols="100" rows="10"></textarea>
        </div>
        <br>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</center>
</html>